* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('anim.gif') no-repeat center center fixed;
    background-size: cover;
    color: #00ff7f;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#terminal {
    width: 90%;
    max-width: 800px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 255, 127, 0.2);
    text-align: left;
}

.output {
    color: #00ff7f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-top: 10px;
    white-space: pre-line;
}

.blinking-underscore::after {
    content: '_';
    display: inline-block;
    animation: blink 0.8s infinite;
    margin-left: 2px;
}

.original-emoji {
    color: inherit; 
    font-size: 1.5em; 
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#terminal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#commands {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.command-btn {
    background-color: transparent;
    color: #00ced1;
    border: 1px solid #00ff7f;
    padding: 5px 10px;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 3px;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    outline: none;
}

.command-btn:hover, .command-btn:focus {
    background-color: #333;
    color: #ff69b4;
    border-color: #ff69b4;
}

.project-container {
    margin-top: 10px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.project {
    background-color: #222; 
    border: 1px solid #00ff7f; 
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex: 1 1 calc(50% - 10px);
}

.project button {
    margin-top: 10px;
    padding: 8px 12px; 
    background-color: transparent;
    color: #00ced1;
    border: 1px solid #00ff7f;
    transition: all 0.3s ease;
    cursor: pointer;
}

.project button:hover {
    background-color: #333; 
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
